@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,500&display=swap');
* {
    box-sizing: border-box;
}
:root {
    --primary : #ffd60a;
    --bg-color:#ffff3f;
}

body {
    font-family: 'Vollkorn', serif;
    margin: 0;
    padding: 0;
}
#txt-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    width: 600px;
    font-size: large;
    font-family: inherit;
    opacity: 0.9;
    
}

#btn {
    background-color: var(--bg-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
    cursor: pointer;
}

#btn:hover{
    opacity:1.0;
}

#output {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    margin-top: 20px;
    border: 2px solid black;
    background-color: white;
    opacity: 0.9;
}
.bck {
    background-color:var(--bg-color);
    max-width: 200px;
}
.na {
    background-color: var(--primary);
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--primary);
}
.h {
    font-size: x-large;
}